@page "/connections"
@inherits ConnectionsBase

@inject ILogger<Connections> Logger

<h1>Service Bus Connections</h1>

<div id="connectionlist" class="list">
    @foreach (var connection in Model.Connections)
    {
        <div class="connection listitem" @onclick="() => Model.OnConnectionSelected(connection)">
            @connection.Name
        </div>
    }
    <button class="btn btn-info" @onclick="Model.OnAddConnection">Add connection</button>
</div>

<div id="connectionDetails" class="details">
    @if (Model.SelectedConnection is not null)
    {
        <EditForm Model="@Model.SelectedConnection" OnValidSubmit="Model.OnSubmit">
            <DataAnnotationsValidator />

            <h2>Edit Connection</h2>
            <hr />
            <div class="form-group row">
                <label for="connectionName" class="col-sm-2 col-form-label">Connection name</label>
                <div class="col-sm-10">
                    <InputText id="connectionName" class="form-control" placeholder="Name" @bind-Value="Model.SelectedConnection.Name" />
                    <ValidationMessage For="() => Model.SelectedConnection.Name"></ValidationMessage>
                </div>
            </div>
            <div class="form-group row">
                <label for="connectionString" class="col-sm-2 col-form-label">Connection string</label>
                <div class="col-sm-10">
                    <InputText id="connectionString" class="form-control" placeholder="Connection string" @bind-Value="Model.SelectedConnection.ConnectionString" />
                    <ValidationMessage For="() => Model.SelectedConnection.ConnectionString"></ValidationMessage>
                </div>
            </div>
            <button type="submit" class="btn btn-info">Save</button>
            <button type="button" class="btn btn-info" @onclick="OnDelete">Delete</button>
        </EditForm>

        @if (ShowConfirmationDelete)
        {
            <div id="dialogConfirmDelete" class="modal" style="display: block" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Delete connection</h3>
                        </div>
                        <div class="modal-body">
                            <label>Delete connection @Model.SelectedConnection.Name?</label>
                            <button class="btn btn-danger" @onclick="OnDeleteConfirmed">Delete</button>
                            <button class="btn btn-close" @onclick="() => ShowConfirmationDelete = false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
